apiVersion: v1
kind: Namespace
metadata:
    name: kube-prometheus-stack
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlNWF1UkQyRlIzcjNVZ0tE
            dmorSVo0NXdwaU5qeWtja2h0N1pmKzdFVjAwClI1aHNQcThCVmN6cCsrdlpSdVlY
            TDRWNk8wYkhQQjFUeTlPNjZMcjdGc0UKLS0tIExweHh3bExEZE03WEVSUTZUeW5u
            YmNZOElBYmtBV2FZdS81eTY0Y2ZCRjAKGBni+Sq16Aj4AVCWF02jC8kdVad2Yhlm
            uds6eWQp7dOoYM3eonkjVk1vK/banqLCMlK/wYnBkJZA73xFETHaWA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-21T20:31:57Z"
    mac: ENC[AES256_GCM,data:KGQbztYhSskXHWljIGTQGu1MiDOsnUgU9Lw6xdRHu4HnLG22nVuSyPrcc5amHWgvMFxtizP0kDGjJPx+J1LsO3E9zHNNfBxVDTgpGInnd5Ksk1zXNtN18pyfgv8uCJ9uKaCxnMLIsqU1QD4Xgayo/wng/0lpTTr0SWnnyvws/uw=,iv:AEG6c1LzpajG784zDg9TEv/yimIjWHWfQCAR5ny0Rms=,tag:hlgJ69Gp9xeUhCYpDr9kMQ==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    interval: 1m0s
    timeout: 15m0s
    url: https://prometheus-community.github.io/helm-charts
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlNWF1UkQyRlIzcjNVZ0tE
            dmorSVo0NXdwaU5qeWtja2h0N1pmKzdFVjAwClI1aHNQcThCVmN6cCsrdlpSdVlY
            TDRWNk8wYkhQQjFUeTlPNjZMcjdGc0UKLS0tIExweHh3bExEZE03WEVSUTZUeW5u
            YmNZOElBYmtBV2FZdS81eTY0Y2ZCRjAKGBni+Sq16Aj4AVCWF02jC8kdVad2Yhlm
            uds6eWQp7dOoYM3eonkjVk1vK/banqLCMlK/wYnBkJZA73xFETHaWA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-21T20:31:57Z"
    mac: ENC[AES256_GCM,data:KGQbztYhSskXHWljIGTQGu1MiDOsnUgU9Lw6xdRHu4HnLG22nVuSyPrcc5amHWgvMFxtizP0kDGjJPx+J1LsO3E9zHNNfBxVDTgpGInnd5Ksk1zXNtN18pyfgv8uCJ9uKaCxnMLIsqU1QD4Xgayo/wng/0lpTTr0SWnnyvws/uw=,iv:AEG6c1LzpajG784zDg9TEv/yimIjWHWfQCAR5ny0Rms=,tag:hlgJ69Gp9xeUhCYpDr9kMQ==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    chart:
        spec:
            chart: kube-prometheus-stack
            sourceRef:
                kind: HelmRepository
                name: kube-prometheus-stack
            version: '*'
    interval: 1m0s
    values:
        grafana:
            grafana.ini:
                server:
                    domain: monitoring.phorge.fr
                    root_url: https://monitoring.phorge.fr/
            enabled: true
            adminPassword: ENC[AES256_GCM,data:xZcnNNLrftNaKYYRmf83tE/q7KpKUp/9,iv:wGVtIx2xjdw534jXSXVwBjW0RXYIzhwlXb9oHin547s=,tag:VNn25ruhg4VhiMq09Krqtw==,type:str]
            service:
                type: ClusterIP
            ingress:
                enabled: true
                ingressClassName: nginx
                annotations:
                    cert-manager.io/cluster-issuer: letsencrypt
                hosts:
                    - monitoring.phorge.fr
                tls:
                    - secretName: grafana-tls
                      hosts:
                        - monitoring.phorge.fr
            persistence:
                enabled: true
                accessModes:
                    - ReadWriteOnce
                size: 1Gi
        prometheus:
            prometheusSpec:
                retention: 15d
                retentionSize: 19GiB
                serviceMonitorSelector: {}
                secrets:
                    - incus-metrics-credentials
                storageSpec:
                    volumeClaimTemplate:
                        spec:
                            storageClassName: longhorn
                            accessModes:
                                - ReadWriteOnce
                            resources:
                                requests:
                                    storage: 20Gi
                additionalScrapeConfigs:
                    - job_name: incus
                      metrics_path: /1.0/metrics
                      scheme: https
                      static_configs:
                        - targets:
                            - 10.1.0.1:8444
                            - 10.1.0.2:8444
                            - 10.1.0.3:8444
                            - 10.1.0.4:8444
                            - 10.1.0.5:8444
                            - 10.1.0.6:8444
                      tls_config:
                        ca_file: /etc/prometheus/secrets/incus-metrics-credentials/ca.crt
                        cert_file: /etc/prometheus/secrets/incus-metrics-credentials/metrics.crt
                        key_file: /etc/prometheus/secrets/incus-metrics-credentials/metrics.key
                        server_name: iaas.phorge.fr
                        insecure_skip_verify: true
                    - job_name: incus-node-exporter
                      static_configs:
                        - targets:
                            - 10.1.0.1:9100
                            - 10.1.0.2:9100
                            - 10.1.0.3:9100
                            - 10.1.0.4:9100
                            - 10.1.0.5:9100
                            - 10.1.0.6:9100
                    - job_name: hpc-node-exporter
                      static_configs:
                        - targets:
                            - 10.5.0.1:9100
                    - job_name: hpc-gpu-exporter
                      static_configs:
                        - targets:
                            - 10.5.0.1:8000
                    - job_name: hpc-docker-cadvisor-exporter
                      static_configs:
                        - targets:
                            - 10.5.0.1:8080
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlNWF1UkQyRlIzcjNVZ0tE
            dmorSVo0NXdwaU5qeWtja2h0N1pmKzdFVjAwClI1aHNQcThCVmN6cCsrdlpSdVlY
            TDRWNk8wYkhQQjFUeTlPNjZMcjdGc0UKLS0tIExweHh3bExEZE03WEVSUTZUeW5u
            YmNZOElBYmtBV2FZdS81eTY0Y2ZCRjAKGBni+Sq16Aj4AVCWF02jC8kdVad2Yhlm
            uds6eWQp7dOoYM3eonkjVk1vK/banqLCMlK/wYnBkJZA73xFETHaWA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-21T20:31:57Z"
    mac: ENC[AES256_GCM,data:KGQbztYhSskXHWljIGTQGu1MiDOsnUgU9Lw6xdRHu4HnLG22nVuSyPrcc5amHWgvMFxtizP0kDGjJPx+J1LsO3E9zHNNfBxVDTgpGInnd5Ksk1zXNtN18pyfgv8uCJ9uKaCxnMLIsqU1QD4Xgayo/wng/0lpTTr0SWnnyvws/uw=,iv:AEG6c1LzpajG784zDg9TEv/yimIjWHWfQCAR5ny0Rms=,tag:hlgJ69Gp9xeUhCYpDr9kMQ==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: incus-metrics-credentials
    namespace: kube-prometheus-stack
type: Opaque
stringData:
    metrics.crt: ENC[AES256_GCM,data:pcfwAoB3QDpZ34joWcWtEx8NFD5+TpNIsAwmwEOOFIXUiGua41aJJQtuGrgzdmMsk5e7iGWOyQOxtW+YzhbMylduD3kVJGRr0XXKBPRThtkab9UwKH+sdGIM6XRrR3RWmN4jIToKPm/0wmyyOO0XW64sebhTKaYWkXIZ3mbhsOsQayzwJGPHKSDR6P+aTfcEKDnLE1fv0cBmxc7m/zWahgUbT9Z1iD8WLEthGVn4voargCUjjwI2+sqSOKQPd/U0Wqnx8ZN2l5qNH6vkMoZ0AoqMZYQTPG+Ks81QtfwC4io4MuwiO0HWoCdIUcFZeFxDLrwy1c7RGeiP++4JkR1axrPZDQWfdrKrO+3lVugeveoKxs/TTEDV7KHDu3BU5yiy/6JZ8yjLDLn7h8srJ9+fdxXxecobcsISIVAC2x0fPElRyELDFa/p/aovMeI/+AzSYQ7imcNr9hne0TkXhl4VWpRUhMIBiHInztR6md2f+Jp7AYQNEHVnFjwB0XfdoxAvAHC/T0uvjW3Kuo/0XoTEkFc2LdhxxBvLc554sRv4EddsgK5lp/EnS8+ils4+yQGpYpO1uJY9qIPQeMP0k5Oud/etwuTtz3hMgO5NoKqLEqajjTrenvjF7oMgcxWTx7/YTeb7RG0GyC/pK7w535gU6/L8GujAjgvlGdRgzcpMQcodeEiRkvoRy0oK2VwdyHB6wlS1pm0xVNXfiIlrCI9tkj5GrdJOn6CevUc19r0/Jy3Ph5OeQifOukhBgATmcgk+5GuoFLcEd+DHf0MiK/aWLjivVZMDAnbGDrASGVA+/hqMRfa5DH/tgXcYszkr2RwbVhMKxcDmQEljtZ/rFCOrxb0TF8Uey4GmmpoLK4xOMORaJm8kllZXSqrkcMT0oVRH,iv:uIcgYjbFRL80dyVm0/v7sX513Xvpc8RV+bk2cW3p8Xc=,tag:axsfPxcKxmpjWtJ/D1DbfQ==,type:str]
    metrics.key: ENC[AES256_GCM,data:TrZGP0n8YfewtFcpaLmLYFk4gQI/ss/0BgtYE7brRUZBkNCqVVi3Yr4kj8kMChbB9jGOlJAtFdluQfxOUUQZxW2UbH36E9Ib6x4eDuYcUux7t7oYUj9m+iXLCLnCvTlrbZyTl2Zw6HazMFC3Lc+6TvdDzfrkomQl+gtOrGNgqdoFWqssxz3eo+pa3KWn7tn3pywkGbpFFlzeQ28ZjZdJI78kH2rjnxm5gy0rQEKbElubhYb4ZwZ9wjCTod5mH7It0J974fEPJRk5sWYqHuBi1m82Ksoo/3tzpUqUJLCfpYc5dEpla9mSwEhHnd6mIIOi9HMNW1svYO3F0ynlv5YZ8cgYZsyQxXfLbh18+QGur1/h9/ikzYduHUIuC5cdfDxF25ZwIVmJb6gAPnNaGzEyGV6k,iv:3bXVgzE+Bjy5zn4hhRAWkIeWUd/Rpsr02wHvHCaHjxs=,tag:k9lKM+6ELASOY8MrF1lNow==,type:str]
    ca.crt: ENC[AES256_GCM,data:j/agEa9xPfNnNji5iiqCHDghv3Z9slz4p0cos5BA2rP80jbgscUwJ1PdGGjPS1ub81hk7oSdcAZtHT/WL8tYNI9qEJNEIqAz5o7sepN9K18ec88Jbs/wj4YrzPS9S81OnQoDP9IlOt6dnHUTxQ7ZsKyoJqu44pMWDx/Fdt5fcZtsPuu3eG5j+vyvvKlPQRO5EM0/AhZBDpTzkNYqHn4Zd7tT6OnaQwbxT8Ucjr0wLG08M5X+obNkmuLljkRlOpCbUv7aPgAKS7JD6ptfKYROKA1x7nAWr7GqoERzT+O3Y2u2WixLMiyUdp8irCBMxr9MhmFI+JMqzA92gOIipB16Lj+LNKC4uno+/wKUxdIwpsqbFGCBmCsppFBx6XO8U7pQiRVobAliIzpbHlfmVfc5S7D2vcHdeemAGERZJuDd3M+CkBG4Wl6ExjKpIkQM9VpqZv8tT4zba6kPFcu9m+tBz9pa3Hc/W46s3Ukly7GlCgwTzb0NG2oM1Sp+b6Gjp/A5R9IwRgBDpTiCqD73e9JTmLsEHt0+SC0rSmy8K9O92qT4PTijLjM8lgJmREaByH+ucvUdQwFH00tUpQtHaxfwBKy7guffmsLjKmsmHQVVk8fCMfgpKYt7ugtAwn2ON+tPXQL7X2stDePEH8kyNT1HjJDv6dcoEJT8+t3tF9+n1gjKHznQMmUopIEIvdIuD/rdTdrnoBfcuhsETXDymDIOM3O1yWea8gus0FKVD+rNHEnYMuZVX776P8KXIKre85zyo/OvaBbBtft2fymLXR1ugSd5u1lYc3cll5AHy8dhYLlphTjpsEs2DHXEEaBG1e1X0do2ef1SNAWhpsrBGW7nnqZbVK5susqW/CcxsSUEq7i6e65Rd6rb0Kpeh7m3M03FEg+7mER4pbJOC5r8iK6nplcAWHqA/4D+2VjsKiyhj/MrrnraOOrzmmtsYc3rzN3kp5LKUhuxmEZtNNI2l6khObT+9yHrRdfgNvqpmkACI9UtGqTHspBjjqmsvj2puhjkUEY6VYK8,iv:cFOMBX87s+MOxANvPuQ4EEoxLzReMhXUsu9v/FTQJsE=,tag:WKz+9Byab4yWhrrEuCnbjw==,type:str]
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlNWF1UkQyRlIzcjNVZ0tE
            dmorSVo0NXdwaU5qeWtja2h0N1pmKzdFVjAwClI1aHNQcThCVmN6cCsrdlpSdVlY
            TDRWNk8wYkhQQjFUeTlPNjZMcjdGc0UKLS0tIExweHh3bExEZE03WEVSUTZUeW5u
            YmNZOElBYmtBV2FZdS81eTY0Y2ZCRjAKGBni+Sq16Aj4AVCWF02jC8kdVad2Yhlm
            uds6eWQp7dOoYM3eonkjVk1vK/banqLCMlK/wYnBkJZA73xFETHaWA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-21T20:31:57Z"
    mac: ENC[AES256_GCM,data:KGQbztYhSskXHWljIGTQGu1MiDOsnUgU9Lw6xdRHu4HnLG22nVuSyPrcc5amHWgvMFxtizP0kDGjJPx+J1LsO3E9zHNNfBxVDTgpGInnd5Ksk1zXNtN18pyfgv8uCJ9uKaCxnMLIsqU1QD4Xgayo/wng/0lpTTr0SWnnyvws/uw=,iv:AEG6c1LzpajG784zDg9TEv/yimIjWHWfQCAR5ny0Rms=,tag:hlgJ69Gp9xeUhCYpDr9kMQ==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
