apiVersion: v1
kind: Namespace
metadata:
    name: kube-prometheus-stack
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1N1ZvWGh2cjVwSkZ0YzZ2
            SVJFTk8vanlpbTlUTVFHL1hnbXgxMVgyTVRrCmdkSXFkYWhTeEFwZWpLTWRtQS9o
            NUFscEZFcXRlVDJwOVZWbW5NK2NiT00KLS0tIE5rS1hRckNBYnpZb0FyeXowK1Nu
            WDlLbm0rL08zRUZPMW0xbEN2MmNEYjQKdX9FQeTRrH5srRu8DFjap8MtMszXJQYY
            muX+953sAU1AebcbcVLHAr1Sqsie9AaYVXAh+NzJrY4K4ARY4OD7lA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:11:32Z"
    mac: ENC[AES256_GCM,data:EqUBy9nb61JifE11+BAjbp26JOwELBC+LopI9wiP8eYHiCDLbzWr1atxpMm0kFGSMSgTYWnD/cJe/Z2ajzwNBovxeOxq2CT8vxC3+l4SljICr8UETo5JS7oP3f4+xZsvCWFONajrikgK15SCM/oh/aM19+o/Q8BA0HTbEaATZ2U=,iv:0D8pDG5wz6IAAdNZBoJKASldTzcV1aeBcy/wcHqzCaA=,tag:V3iS8MBgBgAyvSvY+LXafw==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: grafana-oauth-secret
    namespace: kube-prometheus-stack
type: Opaque
stringData:
    GF_AUTH_GENERIC_OAUTH_CLIENT_ID: ENC[AES256_GCM,data:iuwyS1D6/JQ/vbE51bWq1/Tk8r3RFmRL9Oijw7OpBP9Z+38N,iv:i4HnBSuraADCR3NxJpTha9RCO9zcku5aR2L/WftNp6w=,tag:z156vcDZ/uR0ig1kTsTfyA==,type:str]
    GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ENC[AES256_GCM,data:frSKFQ3YwqO1lcboCSXU9O3FwuxkAdOwTSWTv6+DtIrsNIAYS4BuF7dux94ropjqNlp9YX3Pni0=,iv:L47wF23hH6o0EF4F3yvFDYgr0EUKddNwubAkeWgQqFo=,tag:DjOlhFTZ78qhgBCsjbXM5g==,type:str]
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1N1ZvWGh2cjVwSkZ0YzZ2
            SVJFTk8vanlpbTlUTVFHL1hnbXgxMVgyTVRrCmdkSXFkYWhTeEFwZWpLTWRtQS9o
            NUFscEZFcXRlVDJwOVZWbW5NK2NiT00KLS0tIE5rS1hRckNBYnpZb0FyeXowK1Nu
            WDlLbm0rL08zRUZPMW0xbEN2MmNEYjQKdX9FQeTRrH5srRu8DFjap8MtMszXJQYY
            muX+953sAU1AebcbcVLHAr1Sqsie9AaYVXAh+NzJrY4K4ARY4OD7lA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:11:32Z"
    mac: ENC[AES256_GCM,data:EqUBy9nb61JifE11+BAjbp26JOwELBC+LopI9wiP8eYHiCDLbzWr1atxpMm0kFGSMSgTYWnD/cJe/Z2ajzwNBovxeOxq2CT8vxC3+l4SljICr8UETo5JS7oP3f4+xZsvCWFONajrikgK15SCM/oh/aM19+o/Q8BA0HTbEaATZ2U=,iv:0D8pDG5wz6IAAdNZBoJKASldTzcV1aeBcy/wcHqzCaA=,tag:V3iS8MBgBgAyvSvY+LXafw==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    interval: 1m0s
    timeout: 15m0s
    url: https://prometheus-community.github.io/helm-charts
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1N1ZvWGh2cjVwSkZ0YzZ2
            SVJFTk8vanlpbTlUTVFHL1hnbXgxMVgyTVRrCmdkSXFkYWhTeEFwZWpLTWRtQS9o
            NUFscEZFcXRlVDJwOVZWbW5NK2NiT00KLS0tIE5rS1hRckNBYnpZb0FyeXowK1Nu
            WDlLbm0rL08zRUZPMW0xbEN2MmNEYjQKdX9FQeTRrH5srRu8DFjap8MtMszXJQYY
            muX+953sAU1AebcbcVLHAr1Sqsie9AaYVXAh+NzJrY4K4ARY4OD7lA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:11:32Z"
    mac: ENC[AES256_GCM,data:EqUBy9nb61JifE11+BAjbp26JOwELBC+LopI9wiP8eYHiCDLbzWr1atxpMm0kFGSMSgTYWnD/cJe/Z2ajzwNBovxeOxq2CT8vxC3+l4SljICr8UETo5JS7oP3f4+xZsvCWFONajrikgK15SCM/oh/aM19+o/Q8BA0HTbEaATZ2U=,iv:0D8pDG5wz6IAAdNZBoJKASldTzcV1aeBcy/wcHqzCaA=,tag:V3iS8MBgBgAyvSvY+LXafw==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    chart:
        spec:
            chart: kube-prometheus-stack
            sourceRef:
                kind: HelmRepository
                name: kube-prometheus-stack
            version: '*'
    interval: 1m0s
    values:
        grafana:
            envFromSecret: grafana-oauth-secret
            grafana.ini:
                auth.generic_oauth:
                    enabled: true
                    auth_url: https://git.phorge.fr/login/oauth/authorize
                    token_url: https://git.phorge.fr/login/oauth/access_token
                    api_url: https://git.phorge.fr//login/oauth/userinfo
                    scopes: openid, groups, email
                server:
                    domain: monitoring.phorge.fr
                    root_url: https://monitoring.phorge.fr/
            enabled: true
            adminPassword: ENC[AES256_GCM,data:TV26LE05p0Mdtu2ETOwX/vfPHRAN7yUO,iv:4AdsKcUlhNrP2N/xCWZDT3hE3t+VOJ1yKfnp3FqIcX0=,tag:8v5JuxpyBZuIh5cwfDxe+w==,type:str]
            service:
                type: ClusterIP
            ingress:
                enabled: true
                ingressClassName: nginx
                annotations:
                    cert-manager.io/cluster-issuer: letsencrypt
                hosts:
                    - monitoring.phorge.fr
                tls:
                    - secretName: grafana-tls
                      hosts:
                        - monitoring.phorge.fr
            persistence:
                enabled: false
            grafana:
                sidecar:
                    dashboards:
                        enabled: true
                        label: grafana_dashboard
                        labelValue: "1"
                        searchNamespace: ALL
            additionalDataSources:
                - name: Loki
                  type: loki
                  access: proxy
                  url: http://loki.loki.svc.cluster.local:3100
                  isDefault: false
                  jsonData:
                    timeout: 60
                    maxLines: 1000
        prometheus:
            prometheusSpec:
                nodeSelector:
                    node-role.kubernetes.io/worker: "true"
                retention: 7d
                retentionSize: 14GiB
                serviceMonitorSelector: {}
                secrets:
                    - incus-metrics-credentials
                storageSpec:
                    volumeClaimTemplate:
                        spec:
                            storageClassName: longhorn
                            accessModes:
                                - ReadWriteOnce
                            resources:
                                requests:
                                    storage: 15Gi
                additionalScrapeConfigs:
                    - job_name: incus
                      metrics_path: /1.0/metrics
                      scheme: https
                      static_configs:
                        - targets:
                            - 10.1.0.1:8444
                            - 10.1.0.2:8444
                            - 10.1.0.3:8444
                            - 10.1.0.4:8444
                            - 10.1.0.5:8444
                            - 10.1.0.6:8444
                      tls_config:
                        ca_file: /etc/prometheus/secrets/incus-metrics-credentials/ca.crt
                        cert_file: /etc/prometheus/secrets/incus-metrics-credentials/metrics.crt
                        key_file: /etc/prometheus/secrets/incus-metrics-credentials/metrics.key
                        server_name: iaas.phorge.fr
                        insecure_skip_verify: true
                    - job_name: incus-node-exporter
                      static_configs:
                        - targets:
                            - 10.1.0.1:9100
                            - 10.1.0.2:9100
                            - 10.1.0.3:9100
                            - 10.1.0.4:9100
                            - 10.1.0.5:9100
                            - 10.1.0.6:9100
                    - job_name: hpc-node-exporter
                      static_configs:
                        - targets:
                            - 10.5.0.1:9100
                    - job_name: hpc-gpu-exporter
                      static_configs:
                        - targets:
                            - 10.5.0.1:8000
                    - job_name: hpc-docker-cadvisor-exporter
                      static_configs:
                        - targets:
                            - 10.5.0.1:8080
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1N1ZvWGh2cjVwSkZ0YzZ2
            SVJFTk8vanlpbTlUTVFHL1hnbXgxMVgyTVRrCmdkSXFkYWhTeEFwZWpLTWRtQS9o
            NUFscEZFcXRlVDJwOVZWbW5NK2NiT00KLS0tIE5rS1hRckNBYnpZb0FyeXowK1Nu
            WDlLbm0rL08zRUZPMW0xbEN2MmNEYjQKdX9FQeTRrH5srRu8DFjap8MtMszXJQYY
            muX+953sAU1AebcbcVLHAr1Sqsie9AaYVXAh+NzJrY4K4ARY4OD7lA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:11:32Z"
    mac: ENC[AES256_GCM,data:EqUBy9nb61JifE11+BAjbp26JOwELBC+LopI9wiP8eYHiCDLbzWr1atxpMm0kFGSMSgTYWnD/cJe/Z2ajzwNBovxeOxq2CT8vxC3+l4SljICr8UETo5JS7oP3f4+xZsvCWFONajrikgK15SCM/oh/aM19+o/Q8BA0HTbEaATZ2U=,iv:0D8pDG5wz6IAAdNZBoJKASldTzcV1aeBcy/wcHqzCaA=,tag:V3iS8MBgBgAyvSvY+LXafw==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: incus-metrics-credentials
    namespace: kube-prometheus-stack
type: Opaque
stringData:
    metrics.crt: ENC[AES256_GCM,data:qN0oXhPfhf3jYugUnr2amouNPJtZmRxSSjkJy+TrS+IKt7Cp1kyGuYv6c9ln9nAVXZORQYPE8ZORuyNO/BcdDyJolaiG6IuVfuuqDK6pUx8hX23b3LKfi1cpmjxnGk3qgSQVnDgvCk3sUl8mF++wRTYUpwzBc2bKz81pJSW+HQeuzjziQcKycgwILUHIMaIBzYt6R9IAqp878djDHziVtDhY4qlC5Bozss4bovXi+i2eDNqZpTCkCBzNLvxIiXkHbA5T4vQmJ/xcwq6cauyXCYRcrcclGStY73HVlLz90V3EO0xhmEgWaw/0w0jGAEZGC5CqRChwUfLNUBnjyzNPL5JXmKYVuTueAEBmX0jj/3RLChmSSC7Hx2jOTY4T3DhfsOShUtD6NybCWJKUYTAxvvksSAhjEHddlekn+bo8kgtXByXudl3rDP2JBfjv+H5pJ9MRcRMuoycXRgA9HyUgMy44hATeC4w24ZvbDEE3iUi1aaaVbFxNjC7MD9ElGZvNnn47ZfVqAXFK3GHYmFDnR35D6VhdR5YINegNQoY3Rt6q7TeV/PXa23EHR6FJSkfN28VdNO64mXE0vtYzmi1Z1wEtf6U4oh/ZQszhHeSlxtYXYgEuuWK1yS9aeoVFw+HQdsmbMlUwLM90XzUtMhleOXoVePP+ALNK+9R434aTCrJmNKLQfbW+LR/CevUTIupm+mzrStxoHCVDFnNhWDXR33aYO/7OdTaQg+8r/hkx6WaX1sZ3nBvHWsA9Z2G72aYMZKhoFIp5Edg8WO6OpJlGouny924RRDcuYzVZzmFRIKRAGzMOKeJQzj8h8qMYsBZMIRd2pjkpHJuLhHUqAWmdc3boACOlYEHs7gBaWsBceU27lCtV/xgyMTvT/xuFw/Bk,iv:8B8MrpT40vkXru+GTAXT6bfgTn1138/eX/yKOT4+/8k=,tag:gzArMQHIm499FUoa42/87g==,type:str]
    metrics.key: ENC[AES256_GCM,data:z80xZQeL18oxuMTUP5K5w1L/5PJ5mgwhCYjr2mOEtmFtoPC+/sXtiQjIUWoDzPzB7OmVIuQiz2HEr1gaBgxTjPQk5LDPT/I/mTCsczLuiPUCk/bVUXTRduD12+P0xhmhbeLhkaZpqaI2Pejj0OZK2d0sioPIr61Ws+4cGZ0hZ3RPZVCfYDsu/wccrUO8OZnHU6bB4W2lI83zpewz0i1TKuErhBcqbl9zQyy3Mj9B5rXDnYGXxOHKwzw5viG2mkts7LoGTge3rjMjpTSX8Lc3AeeTDZvHaeoHHSkvf1U6DeOG+4381zo3Pef/WGjAekPxyz4rN429ncpGJj21q0GuT8d+sk7nklnoDcisAHrMECo99j1JYJyeQDWv2ZlSC7tt7jrE/pGtMz/N1VXcoDC2sI5m,iv:26eMvJXfEmRZ4z/+BfxUxW4DGS7xwFxx1/wZiPIzsBc=,tag:rnvffsTbYc+rIFdtg7ztBg==,type:str]
    ca.crt: ENC[AES256_GCM,data:Jr9QC4MqpOCHRrQk8D0yP2N1d1KkfZRnJjmsNb3VmYAjEc+q/oXQd5iHkwG5DVanRiIQTpOU3QbE9K2iCVhFhCWVwgE+uQvz5DVj8zQ2AASmXfdC1Oz+reG1VpoWzcROnXl0QYCHAZSPPWK37OyM2o1bUdfU8J6mZjz3afZWuImvInJPTJeBInxIsrScdkveJntbEz4mWP02CwCfSk77LfCLposz3NILhK0hhjh/DN8f45lgFfu/BdmKUx6t8dmknIyA2GGU7PI3av1bcZEQuLRqHbE0zovsPFLsy6SG7zDMOu9ZGRSo+nO4xVjSBJ22q0OFkvwb31/vGlWGytI8FAQCSFlAj34pGDAwU7h0fEin+QTiBe/yVjqgMhS5OSV8VdMtoi9Atzd/LyjFcZjHRLYjt7g++BR3NPWg9BjS2cP32cuSngK9CtH23EL4XxA8cUYnT0W5kdDRIzucmM+fE0k38rN4IIZyB/tIzDG3GEnxkRHG2tS7WJSYNg14IIgqXnEvt1o0LcFFtA7HbmTWjq2f+4cpfhf9NlZiX1v/1j6WtAQFwUTsU1+rTRewBC0o9Ku9cAXXTsfefdZx8IwwpdawWzCqwWuBvVjGTV/4iPlwKkf2bmV+hbFw1MaWvHN99Qwp/LEmQaz8+EEDsM5B7HS8nYpPF3uQcJOoQnUJxuEJZnuZr+TAyKjTytvg5veqDGLgZ9nGLahWIySYD/z9Zb457nxXp7p1bn+qs7SFnsL8XlHdFrzG9xqjKq1h5/8uHqprnsdteUCkyR4W43jAdJdaFblSvfMdDNrHBU7bJTUdINKXzz4TVxvkgx2FULsyhF6Gd3Xnyxijf8yZaCB4yoNIkUeQeu0wLsKMP6VBrHA5NZEwLzeTLhSHy+l0RAoEWC63uX/lHb9BTpoglyEUH/MljQdz1aeqDo8x1xS+nopVvZz69V8vaG8FYhFD8FVoaBxl3QlJoOmqY915kt1ya4jh/1hNvm2fWhO9IccGlyaHtus6NcWHrgYf9eftPj9S75Dhc+Zf,iv:eJsWlQrU5pDBN8MbtRLobAR4IsYDQLjQ6SIe5XVwx8I=,tag:c5EG40bwFbNQspcxbBkLqg==,type:str]
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1N1ZvWGh2cjVwSkZ0YzZ2
            SVJFTk8vanlpbTlUTVFHL1hnbXgxMVgyTVRrCmdkSXFkYWhTeEFwZWpLTWRtQS9o
            NUFscEZFcXRlVDJwOVZWbW5NK2NiT00KLS0tIE5rS1hRckNBYnpZb0FyeXowK1Nu
            WDlLbm0rL08zRUZPMW0xbEN2MmNEYjQKdX9FQeTRrH5srRu8DFjap8MtMszXJQYY
            muX+953sAU1AebcbcVLHAr1Sqsie9AaYVXAh+NzJrY4K4ARY4OD7lA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:11:32Z"
    mac: ENC[AES256_GCM,data:EqUBy9nb61JifE11+BAjbp26JOwELBC+LopI9wiP8eYHiCDLbzWr1atxpMm0kFGSMSgTYWnD/cJe/Z2ajzwNBovxeOxq2CT8vxC3+l4SljICr8UETo5JS7oP3f4+xZsvCWFONajrikgK15SCM/oh/aM19+o/Q8BA0HTbEaATZ2U=,iv:0D8pDG5wz6IAAdNZBoJKASldTzcV1aeBcy/wcHqzCaA=,tag:V3iS8MBgBgAyvSvY+LXafw==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
