apiVersion: v1
kind: Namespace
metadata:
    name: kube-prometheus-stack
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaTkh3eHJrcGFpSE43WjdK
            L293K1NNL3JOOElRbjM1ZHZLVVdMUFpod25jCnlkU3FocmluSFNkNnhieml6QW5m
            WHhLZDlTajc2NTRTNWxiVG9wN2hBQ0UKLS0tIHpyOGtBQXVhcnpsTWozbzRSam1v
            TkduT0FFall0NzFjS0xDaCtkdkl5eW8KWLxX2SWZLMbkERgm6koZok0Ki5JTlEpY
            AD2jAKXvAF4deHuyTuoyeKW+wW1QChIDbJmu5ptctrW1a/YHQKJX/g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T13:17:23Z"
    mac: ENC[AES256_GCM,data:yXVQjZLLxApy6jlhwqylIpn/iFBPeuQuyjAb7KsCH9WaZPYtMEqCCjoYnE/uBnRlpfHtnQSc9hrKqt3XtDPKbP68pju+42YALs/5O4oW62cSkd6fqWBUXJFLNqKYWP0a/mT17/v5uyE94GvW+c0YaCmVs6678vSALvKKO4UUgZ0=,iv:jUgkpKHR4Ryogeh1P76P09/zscZPFcv+PljVCQ2H0LE=,tag:T5kxq/sOvKC896q9vrKCWg==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: grafana-oauth-secret
    namespace: kube-prometheus-stack
type: Opaque
stringData:
    GF_AUTH_GENERIC_OAUTH_CLIENT_ID: ENC[AES256_GCM,data:QBWgDsZQkNoSsajaPI70ELZPcSYM3TiNCcWtcx9MsEQw1sTL,iv:ozSnmu4t9k3aI1ohsxCPe7ZTXOIhDPeDeDwMnBNc0oQ=,tag:NdWKWc/GG5H68pKN4IZOKA==,type:str]
    GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ENC[AES256_GCM,data:b1RTkqUmime5psMEm51nUj/vWWHsJD47334PrxRyNr4QadywJKIxSAaV1oMRsnOZxp+0w25TrfU=,iv:4xPO2KAFI41nWOMLWK4Uj/JVYPdziEbvNpj4od1l1wY=,tag:RpSdJeCqMakq7dNb/seEow==,type:str]
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaTkh3eHJrcGFpSE43WjdK
            L293K1NNL3JOOElRbjM1ZHZLVVdMUFpod25jCnlkU3FocmluSFNkNnhieml6QW5m
            WHhLZDlTajc2NTRTNWxiVG9wN2hBQ0UKLS0tIHpyOGtBQXVhcnpsTWozbzRSam1v
            TkduT0FFall0NzFjS0xDaCtkdkl5eW8KWLxX2SWZLMbkERgm6koZok0Ki5JTlEpY
            AD2jAKXvAF4deHuyTuoyeKW+wW1QChIDbJmu5ptctrW1a/YHQKJX/g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T13:17:23Z"
    mac: ENC[AES256_GCM,data:yXVQjZLLxApy6jlhwqylIpn/iFBPeuQuyjAb7KsCH9WaZPYtMEqCCjoYnE/uBnRlpfHtnQSc9hrKqt3XtDPKbP68pju+42YALs/5O4oW62cSkd6fqWBUXJFLNqKYWP0a/mT17/v5uyE94GvW+c0YaCmVs6678vSALvKKO4UUgZ0=,iv:jUgkpKHR4Ryogeh1P76P09/zscZPFcv+PljVCQ2H0LE=,tag:T5kxq/sOvKC896q9vrKCWg==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    interval: 1m0s
    timeout: 15m0s
    url: https://prometheus-community.github.io/helm-charts
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaTkh3eHJrcGFpSE43WjdK
            L293K1NNL3JOOElRbjM1ZHZLVVdMUFpod25jCnlkU3FocmluSFNkNnhieml6QW5m
            WHhLZDlTajc2NTRTNWxiVG9wN2hBQ0UKLS0tIHpyOGtBQXVhcnpsTWozbzRSam1v
            TkduT0FFall0NzFjS0xDaCtkdkl5eW8KWLxX2SWZLMbkERgm6koZok0Ki5JTlEpY
            AD2jAKXvAF4deHuyTuoyeKW+wW1QChIDbJmu5ptctrW1a/YHQKJX/g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T13:17:23Z"
    mac: ENC[AES256_GCM,data:yXVQjZLLxApy6jlhwqylIpn/iFBPeuQuyjAb7KsCH9WaZPYtMEqCCjoYnE/uBnRlpfHtnQSc9hrKqt3XtDPKbP68pju+42YALs/5O4oW62cSkd6fqWBUXJFLNqKYWP0a/mT17/v5uyE94GvW+c0YaCmVs6678vSALvKKO4UUgZ0=,iv:jUgkpKHR4Ryogeh1P76P09/zscZPFcv+PljVCQ2H0LE=,tag:T5kxq/sOvKC896q9vrKCWg==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    chart:
        spec:
            chart: kube-prometheus-stack
            sourceRef:
                kind: HelmRepository
                name: kube-prometheus-stack
            version: '*'
    interval: 1m0s
    values:
        grafana:
            envFromSecret: grafana-oauth-secret
            grafana.ini:
                auth.generic_oauth:
                    enabled: true
                    auth_url: https://git.phorge.fr/login/oauth/authorize
                    token_url: https://git.phorge.fr/login/oauth/access_token
                    api_url: https://git.phorge.fr//login/oauth/userinfo
                    scopes: openid, groups, email
                server:
                    domain: monitoring.phorge.fr
                    root_url: https://monitoring.phorge.fr/
            enabled: true
            adminPassword: ENC[AES256_GCM,data:LLMOjvdz0ygr6EVoBsoKJ5YjA9VF5NSj,iv:91kkMiepmGGQshJb+ByZVg5oktg64nrfwMuVYQtEqwQ=,tag:iNl8TQdLxHsReDqrFLCVbA==,type:str]
            service:
                type: ClusterIP
            ingress:
                enabled: true
                ingressClassName: nginx
                annotations:
                    cert-manager.io/cluster-issuer: letsencrypt
                hosts:
                    - monitoring.phorge.fr
                tls:
                    - secretName: grafana-tls
                      hosts:
                        - monitoring.phorge.fr
            persistence:
                enabled: false
            grafana:
                sidecar:
                    dashboards:
                        enabled: true
                        label: grafana_dashboard
                        labelValue: "1"
                        searchNamespace: ALL
            additionalDataSources:
                - name: Loki
                  type: loki
                  access: proxy
                  url: http://loki.loki.svc.cluster.local:3100
                  isDefault: false
                  jsonData:
                    timeout: 60
                    maxLines: 1000
                - name: HPC-Prometheus
                  type: prometheus
                  access: proxy
                  url: http://10.5.0.1:9090
                  isDefault: false
                  jsonData:
                    timeout: 60
                    maxLines: 1000
        prometheus:
            prometheusSpec:
                nodeSelector:
                    node-role.kubernetes.io/worker: "true"
                retention: 7d
                retentionSize: 14GiB
                serviceMonitorSelector: {}
                secrets:
                    - incus-metrics-credentials
                storageSpec:
                    volumeClaimTemplate:
                        spec:
                            storageClassName: longhorn
                            accessModes:
                                - ReadWriteOnce
                            resources:
                                requests:
                                    storage: 15Gi
                additionalScrapeConfigs:
                    - job_name: incus
                      metrics_path: /1.0/metrics
                      scheme: https
                      static_configs:
                        - targets:
                            - 10.1.0.1:8444
                            - 10.1.0.2:8444
                            - 10.1.0.3:8444
                            - 10.1.0.4:8444
                            - 10.1.0.5:8444
                            - 10.1.0.6:8444
                      tls_config:
                        ca_file: /etc/prometheus/secrets/incus-metrics-credentials/ca.crt
                        cert_file: /etc/prometheus/secrets/incus-metrics-credentials/metrics.crt
                        key_file: /etc/prometheus/secrets/incus-metrics-credentials/metrics.key
                        server_name: iaas.phorge.fr
                        insecure_skip_verify: true
                    - job_name: incus-node-exporter
                      static_configs:
                        - targets:
                            - 10.1.0.1:9100
                            - 10.1.0.2:9100
                            - 10.1.0.3:9100
                            - 10.1.0.4:9100
                            - 10.1.0.5:9100
                            - 10.1.0.6:9100
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaTkh3eHJrcGFpSE43WjdK
            L293K1NNL3JOOElRbjM1ZHZLVVdMUFpod25jCnlkU3FocmluSFNkNnhieml6QW5m
            WHhLZDlTajc2NTRTNWxiVG9wN2hBQ0UKLS0tIHpyOGtBQXVhcnpsTWozbzRSam1v
            TkduT0FFall0NzFjS0xDaCtkdkl5eW8KWLxX2SWZLMbkERgm6koZok0Ki5JTlEpY
            AD2jAKXvAF4deHuyTuoyeKW+wW1QChIDbJmu5ptctrW1a/YHQKJX/g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T13:17:23Z"
    mac: ENC[AES256_GCM,data:yXVQjZLLxApy6jlhwqylIpn/iFBPeuQuyjAb7KsCH9WaZPYtMEqCCjoYnE/uBnRlpfHtnQSc9hrKqt3XtDPKbP68pju+42YALs/5O4oW62cSkd6fqWBUXJFLNqKYWP0a/mT17/v5uyE94GvW+c0YaCmVs6678vSALvKKO4UUgZ0=,iv:jUgkpKHR4Ryogeh1P76P09/zscZPFcv+PljVCQ2H0LE=,tag:T5kxq/sOvKC896q9vrKCWg==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: incus-metrics-credentials
    namespace: kube-prometheus-stack
type: Opaque
stringData:
    metrics.crt: ENC[AES256_GCM,data:YQ094/U1943GYk1HHwE7shyx5kYTRgCZRhJuTzwkB4c42cK9DZ/bR0yKtHFKE0zRITMrGpfSDiVN/jiFYyDan7VxsBIz2D5vhHdtGH1DmY6sxe/v8wKY77J5nwLFIoK9Tm4xorjRUolXPFsx4mu8JmdqyV/y/C5vcfKgBfNGBpOVLc8zyTQ2yMQi527IkBhLam+GglJWIRF+xtK4JpkImkZlUiOFQUScpK2W1bjZZLiQlsfe+lw6guSUhHSJUoaPsw5GOpAi9Ahpch6gmZESr3qBmFpLtBK93O4y/cepOZ5YmSa0X2xn/e7mvDgqQSZ8ZU9qNrRDkA13rjVX0FE6aJhTNYH+wZPEJ9/j6HgKg/3ohSaV9Y7jLJpOQDYWVQ1Sji3YLaQUCKQTn/eRwsOmIJUvjjI7sw7opDpnWSoqbBmoEQE0rZBtQ3Hu5Q8MNZz+FjGD1c1iC47qcMWVHuTxJe03gJqDz/PmQyfuRYReRIoWkHxacJFyliXtx2rqNcpfu0q2o5gJcGk7RxWWXtYH+hKKXWM0bxaJ8kJSblCedgDOvwyclfhu44jUNC6z8gJ3dRP9foqA/iRRsmYcxryZhzEsRBl7CBP8vPCIfA+KE4mkPjN7MtvWnrT0Wiu3/c4u82PBt0swiVKC+ZV2dUYKNa+oy+5O8hXs5bQywy/HyfPL1FvcrR8Bz0aTmDqz6fTm0/JcLeealhlL/qffNf3z96+/IKnn38QWls77ZyjC10gjNKn4Pqjk+zvl0HRmo/sldoorH7qOsvjSLlAeGW7xsnyB/697w1m8+amPwkqLQ+24RmB5kC7mpyRk5XWvZsRXfOv122scAKVkSGh6TjVatCmukPMxx4D9PyTndTIAHCxR2aK5BrsaFvmH0vB9ej9W,iv:YDhCFcfo4GEVwu/cvmKh5p1hkAbJwESR5AO3MvpBn4c=,tag:doSmlDsy5PfzsOcbed0XsQ==,type:str]
    metrics.key: ENC[AES256_GCM,data:OJDpY5Oy387KUGk+CZ+L8Bv3y7oyHSP18gOh+1o2YXWDja+EFhUGwKWhzYYZ+f6juhuRfjSC1v5mlwsJodI+eG+bmuqtF71cK5TvyUs9UmvHc48AM7G83ovEW2Y49cPvF/dLgqSCMp2FuHffiojHUz1BfV+u5hT5NzUVn/tjLSxOCyVjF3NQou8bH4njXGExeEytHV5zxrMGMfHgoz5kVK/8on3JdLkmoWymForShVTl5iLOTYGAOZCuGdATLoWxU2rw8qnj9zsVb1WKfq7P9VPsd3dH1jxYbtNswQq6/R8MfIa6fAzUrB/AMXyJe+p0Pngr+eGUdjqPJWsT6N82tMhBcKESYYc1CBykSmxmTRmcdkzbHOHmtqhTzEC++exIv2W3wKrID0/aSBJJ/ImCdVwx,iv:Pp7LVwu8ldVe81qoQdcruMLCYtI6ZAr4CzA5xetkxb4=,tag:EG6lMdaglH0JiHEkzuykbQ==,type:str]
    ca.crt: ENC[AES256_GCM,data:nzep8neD9UUUXtdemusN5nFFz8z+4Kxlp9hmc58FsN/9doVfxsHQLcwdlKvJQWnNJte/Vm+GGFsO9jyHbJEHlUeHxhuT/gt7MfP/De4Kt7rqIHO86HxkFOx+O8vmhFDef0Izzka7+T4dSJI7IkOClp4vx99jMLDhWmSB8b10YPunM7zB6KblSHq0dl1hC0Jlmg+akPP52s7PtFsGqHQSNyjU6jLKTGlLWHYSAjajSU9cmpLpzzg50/C7FVJXLYkw7AxNUw3TErfYjiyAdTClBrquKMLbzsK8O+jh/S7ScNiCkjZ7qYmWl0K0eTc1/vEkCgY1FzMmGFkjHj1u1WhpOdV/2Q3nSVV/ZzsezPlOnQZCiP1ulqLFWmWPmUW6pEKQcTrly5ZD/6AnSyebspQt9u3fEaqFLezdtqVzYZexrjsCcWmqy+5VNG7ISC3GXiT/guVD+WROp+BGvR4hEVChxAE7kghmnmpm0TYrihBHmXZFj15d70VqzFGESho7X/9zUShqm1qGzENGd5Q3nv3OWZEGNivfDdb4ml0Pg78mHd99jJApzg/IihjCuYee+932lMyJshLCT0Dfk/UtlexQ/PXUuOoKYrqWtixEWRXLwM9rkRmNdni7vPW2pWBgyz8wONzp4Gh4Ys4ObJz7eWbmApdKYDPxZwE6oD0GDIA2yNYIK8Ie4NvPzWzspiTSyLy4zBO+PB5Eq+u//Tck4mBxe+OYyCQsGdTM4FzJ8aG/rt0/niF2NoaFhYsDWL/IOSLYEhQYBWQ0PvgK9oAuW5HLVOiV2uSn42wPdeRXlY+CsRWtTeQwkGJ9CSSenejMySiDKnuwRc+P4TxIcxEHU42HIUSPWzpRzO1MrgscBQXxrZRpTBd/m1bY1hdORLqqdmAJEHEQGCjIRhoVqwK4MTqQxz4sqeVEh0jdobFlasFd5I8HVX2f5EAKgyr1SBlwDecnFcV9zM5ZM4XFEAQQruQsPb0/HD4yeGQR4sdms4nzPyWV/UrhOTCjkq8QTYUAdXczZ9R8R2tw,iv:jJmnfhhm/rIWgVn/0H6+h6uTFK9BYiL8cgon8YKEdxc=,tag:5cR1U0wkfIYfFBsteb8CtQ==,type:str]
sops:
    age:
        - recipient: age1ae6yk6xtlt8h40272xqxegz3t3zpvvuxj0jwy489xs6e34k0y9xsvpmt03
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaTkh3eHJrcGFpSE43WjdK
            L293K1NNL3JOOElRbjM1ZHZLVVdMUFpod25jCnlkU3FocmluSFNkNnhieml6QW5m
            WHhLZDlTajc2NTRTNWxiVG9wN2hBQ0UKLS0tIHpyOGtBQXVhcnpsTWozbzRSam1v
            TkduT0FFall0NzFjS0xDaCtkdkl5eW8KWLxX2SWZLMbkERgm6koZok0Ki5JTlEpY
            AD2jAKXvAF4deHuyTuoyeKW+wW1QChIDbJmu5ptctrW1a/YHQKJX/g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T13:17:23Z"
    mac: ENC[AES256_GCM,data:yXVQjZLLxApy6jlhwqylIpn/iFBPeuQuyjAb7KsCH9WaZPYtMEqCCjoYnE/uBnRlpfHtnQSc9hrKqt3XtDPKbP68pju+42YALs/5O4oW62cSkd6fqWBUXJFLNqKYWP0a/mT17/v5uyE94GvW+c0YaCmVs6678vSALvKKO4UUgZ0=,iv:jUgkpKHR4Ryogeh1P76P09/zscZPFcv+PljVCQ2H0LE=,tag:T5kxq/sOvKC896q9vrKCWg==,type:str]
    encrypted_regex: ^(email|password|secret_key|data|stringData|ca|crt|key|id|secret|token|aggregatorCA|serviceAccount|bootstraptoken|secretboxencryptionsecret|secretboxEncryptionSecret|clientSecret|clientId|clientID|external-dns.alpha.kubernetes.io/target|adminPassword|metrics.crt|metrics.key|ca.crt|uri|postgresPassword|preshared|username)$
    version: 3.11.0
